.wrapper {
 background: beige;
 width: auto;
 margin: 0 auto;
}

body {
 background: beige;
}

.main_img_pane {
  font-family: Arial;
  margin-right: 5%;
  float: left;
  background: rgb(53, 53, 53);
  color: azure;
  width: 35%;;
  height: 65%;
}

.img {
  height: auto;
  max-width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 50%;
}

.header {
  padding: 75px;
  text-align: center;
  background: #a51f04;
  color: white;
  font-size: 35px;
}

footer {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 25%;
  padding: 75px;
  text-align: center;
  background: rgb(235, 235, 207);
  color: rgb(137, 143, 116);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  background-position-y: bottom;
}

table {
  border: 1px solid;
  border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: azure;
  float: left;
  width: 35%;
  background: rgb(53, 53, 53);
}

th {
  width: 60%;
  height: 25%;
  border: 1px solid;
}

td {
  border: 1px solid;
  width: 60%;
  height: 25%;
}
