body {
  font-family: Arial;
  margin: 0;
  background: rgb(53, 53, 53);
  color: azure;
}

.header {
  padding: 75px;
  text-align: center;
  background: #a51f04;
  color: white;
  font-size: 35px;
}

.content {padding:25px;}